<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
 <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="connection.url">jdbc:oracle:thin:@192.168.0.17:1521:xe</property>
    <property name="connection.username">ANDNAV</property>
    <property name="connection.password">CORSO</property>
    <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  	<property name="hibernate.hbm2ddl.auto" >update</property>
     <property name="show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
   
    <mapping class="com.etl.model.Utenti" />
</session-factory>
</hibernate-configuration>
